body {
    position:absolute;
  margin: 0;
  font-family: "Merriweather", serif;
  text-align: justify;
}
h1 {
  margin: 0 auto 0 auto;
  font-family: "Sacramento", cursive;
  font-size: 60px;
}
h2 {
  font-family: "Montserrat", sans-serif;
}

.top-container {
  background-color: #e4f9f5;
  position: relative;
  padding-top: 100px;
  text-align: center;
}

.dev {
  text-decoration: underline;
}
.top-cloud {
  position: absolute;
  right: 300px;
  top: 50px;
}
.bottom-cloud {
  position: absolute;
  left: 300px;
  bottom: 300px;
}

.middle-container img {
  border-radius: 8px;
  width: 15%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

ul {
    list-style-position: inside;
}

.middle-container {
    margin-left: 5%;
}

.bottom-container, h2, h3 {
    text-align: center;
}